/* Common */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Verdana", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  width: 55vw;
  min-height: 42px;
}

/* Header */
.header-logo {
  display: flex;
  margin-right: auto;
  align-items: center;
}

/* theme toggle button */
.theme-button {
  position: relative;
  flex-shrink: 0;
  margin: auto 0 auto auto;
  padding: 7px 16px 7px 36px;
  border-radius: 2px;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
}

.theme-button::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 7px;
  left: 12px;
}

/* Main */
.index-main {
  padding: 0;
  min-height: calc(100vh - 84px);
}

.index-main .container {
  flex-direction: column;
}

.inner-heading {
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 4px;
  margin-left: 0;
  font-size: 24px;
  line-height: 32px;
}

/* Registration form */
.reg-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-bottom: 30px;
  padding: 8px 12px;
}

.reg-label {
  z-index: 1;
  margin-right: auto;
  margin-bottom: -6px;
  margin-left: -6px;
  padding: 2px 6px;
  font-size: 10px;
  line-height: 14px;
}

.name,
.password {
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: transparent;
  font: inherit;
  font-size: 14px;
  line-height: 30px;
  outline-offset: 0;
  border: 1px solid;
}

.password {
  padding-bottom: 4px;
}

.name::placeholder,
.password::placeholder {
  color: #aaaaaa;
  font: inherit;
  font-size: 14px;
  font-style: italic;
}

.name:focus::placeholder,
.password:focus::placeholder {
  font-size: 0;
}

.name:hover::placeholder,
.name:active::placeholder,
.password:hover::placeholder,
.password:active::placeholder {
  opacity: 0.5;
}

.checkbox-label {
  position: relative;
  margin: 4px auto 16px 0;
  padding: 4px 24px;
}

.checkbox-label::before {
  position: absolute;
  content: "";
  flex-shrink: 0;
  top: 3px;
  left: 0;
  width: 14px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  border: 1px solid;
}

.show-password:focus + .checkbox-label::before {
  outline: auto;
  outline-width: 4px;
}

.checkbox-label:active::before {
  opacity: 0.6;
}

.reg-form .button {
  margin-right: auto;
  margin-bottom: 16px;
}

.security {
  position: relative;
  margin: -14px 1px 8px;
  width: calc(100% - 2px);
  overflow: hidden;
  background-color: #eae9f2;
}

.security::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 0;
  left: 50%;
  background-color: #ffffff;
}

.security::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 0;
  left: 90%;
  background-color: #ffffff;
}

.security-bar {
  height: 4px;
  width: 0;
  background-color: mediumpurple;
}

.button {
  font-size: 12px;
  border: none;
  padding: 7px 16px;
  border-radius: 2px;
  cursor: pointer;
}

.reg-form .button {
  margin-right: auto;
  margin-bottom: 16px;
}

/* Footer */
.page-footer {
  margin-top: auto;
  min-height: 42px;
}

.page-footer p {
  margin: auto 0;
}

.footer-logo {
  margin-left: auto;
  display: block;
  padding-top: 6px;
  padding-right: 0;
  padding-bottom: 3px;
  padding-left: 0;
}

/* States */

.shown {
  display: inline-block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}
