/*   Светлая тема   */

.light-theme {
  color: #333333;
  background-color: #eae9f2;
}

.light-theme .page-header {
  background-color: #ffffff;
  box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
}

.light-theme .button {
  background-color: #6653d9;
  color: #ffffff;
}

.light-theme .theme-button {
  color: #6653d9;
  border: 1px solid #6653d9;
}

.light-theme .theme-button::before {
  background-image: url(../../img/moon-normal.svg);
}

.light-theme .theme-button:focus::before,
.light-theme .theme-button:hover::before {
  background-image: url(../../img/moon-hover.svg);
}

.light-theme .theme-button:focus {
  outline-color: #b6aaff;
}

.light-theme .theme-button:focus,
.light-theme .theme-button:hover {
  color: #ffffff;
  background-color: #6653d9;
}

/* tooltips */
.light-theme .tooltip {
  background-color: #ffffff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.light-theme .tooltip-button {
  background-color: #f2f2f2;
}

.light-theme .tooltip-button:focus,
.light-theme .tooltip-button:hover {
  background-color: #6653d9;
  color: #ffffff;
  outline-color: #b6aaff;
}

.tooltip-button:active {
  opacity: 0.6;
}

.light-theme .tooltip-button::after {
  border-right-color: #6653d9;
  border-top-color: #6653d9;
}

/* статья */
.light-theme .news-full {
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}

.light-theme .heart {
  color: #6653d9;
  background-image: url(../../img/icon-heart-light.svg);
  opacity: 0.7;
}

.light-theme .news-full time {
  color: #aaaaaa;
}

/* comments */
.light-theme .comment-list li {
  background-color: #ffffff;
}

.light-theme .user-comment::before {
  border-right-color: #eae9f2;
  color: #cdcdcd;
}

.light-theme .user-comment::after {
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
}

.light-theme .comment-form {
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}

.light-theme .comment-label {
  background-color: #ffffff;
  color: #6653d9;
}

.light-theme .comment-field {
  border: 1px solid #eae9f2;
  color: #333333;
}

.light-theme .comment-field:focus {
  outline-color: #b6aaff;
}

/* Footer */
.light-theme .page-footer {
  background-color: #6653d9;
  color: #ffffff;
}
