body {
  margin: 150px;
  font-family: "Verdana", "Tahoma", sans-serif;
  line-height: 16px;
  box-sizing: border-box;
}

.container {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}

.heart {
  padding: 12px 10px;
  margin: 0 auto;
  min-width: 70px;
  min-height: 40px;

  color: #6653d9;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;

  background-image: url("icon-heart-light.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 15px 26px;

  cursor: pointer;
  opacity: 0.7;
  border: none;
}

.heart:focus,
.heart:hover {
  opacity: 1;
}

.heart:focus {
  outline-color: #b6aaff;
}

.heart:active {
  opacity: 1;
  background-image: url("icon-heart-light-active.svg");
}

.heart.added {
  background-image: url("icon-heart-light-active.svg");
}

.heart .likes-number {
  margin-left: 27px;
}
